* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #333;
	overflow-x: hidden !important;
	font-family: 'Fredoka One', cursive;
}

body {
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .35);
}

a,
a:focus,
a:hover {
	color: #fff;
	font-size: 4rem;
}

.container {
	height: 65vh;
	scroll-behavior: smooth;
}

.container .row {
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.container .row div {
	width: 100%;
}

.container .row img {
	max-width: 90%;
}

#go,
#goUp {
	height: 40vh;
}
